@import url("https://fonts.googleapis.com/css2?family=EVO+2&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #9945ff, #ffff, #14f195);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow-x: hidden;
  font-family: 'EVO 2', sans-serif;
  /* Apply the font to all text by default */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

main {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main section {
  flex: 0 0 80%;
}

.pic {
  flex: 1 0 100%;
}

.logo {
  width: 100%;
  max-width: 800px;
  max-height: auto;
}

.text {
  flex: 0 0 100%;
  text-align: center;
  font-size: 2rem;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: transparent;
  width: 100%;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #14f19577;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #9945ff7e;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}